@import "tailwindcss";

@layer utilities {
  /* TODO */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .outcome::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: 0;
    transition: height 0s;
  }

  .outcome.outcome-rise::before {
    background: var(--color-outcome-rise);
    animation: riseBackground 1s linear forwards;
  }

  .outcome.outcome-fall::before {
    background: var(--color-outcome-fall);
    animation: fallBackground 1s linear forwards;
    top: 0;
  }
}

@theme {
  --color-container: #e2e2e2;
  --color-table-row: #f0f0f0;
  --color-black: #000;
  --color-black-500: #25292b;
  --color-gray-500: #e2e2e2;
  --color-white-200: #fcfcfc;

  --color-outcome: #e2e2e2;
  --color-outcome-active: #f05a22;

  --color-outcome-rise: #9aedaa;
  --color-outcome-fall: #eb1e2220;

  @keyframes riseBackground {
    from {
      height: 0%;
    }
    to {
      height: 100%;
      background: transparent;
    }
  }

  @keyframes fallBackground {
    to {
      height: 100%;
      background: transparent;
    }
  }
}
